* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  padding: 10px 250px;
  display: flex;
  align-items: flex-end;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
}

.right-links {
  margin-left: auto;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.header-links {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.hero {
  background-color: #1f2937;
  padding: 100px 250px;
  display: flex;
  justify-content: space-between;
}

.hero p {
  color: #e5e7eb;
  font-size: 18px;
  max-width: 600px;
  line-height: 1.5;
}

.left-side-hero {
  margin-right: auto;
  height: auto;
  padding-right: 40px;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.right-side-hero {
  margin-left: auto;
  background-color: #6d747d;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.hero-image {
  width: 100%;
  height: auto;
}

.hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  max-width: 400px;
}

.sign-up-button {
  color: #f9faf8;
  background-color: #3882f6;
  font-size: 16px;
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 7px;
}

.information {
  padding: 70px 250px 100px 250px;
}

.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
}

.cards-layout {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 70px;
}

.card {
  width: 170px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.card-image-container {
  height: 170px;
  width: 170px;
  border: 4px solid #3882f6;
  border-radius: 12px;
}

.card-image {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.card-text,
.card-text-link {
  color: #1f2937;
}

.review {
  background-color: #e5e7eb;
  padding: 100px 500px;
}

.review p {
  font-size: 36px;
  color: #1f2937;
  font-style: italic;
  line-height: 1.5;
  margin-bottom: 30px;
}

.review h4 {
  text-align: end;
  font-size: 26px;
}

.call-to-action {
  padding: 100px 300px;
  color: #f9faf8;
}

.call-to-action-card {
  display: flex;
  background-color: #3882f6;
  border-radius: 7px;
  padding: 50px 100px;
  align-items: center;
}

.call-to-action-message {
  display: flex;
  flex-direction: column;
}

.call-to-action-message h4 {
  font-size: 24px;
}

.call-to-action-card button {
  border: 2px solid #f9faf8;
  margin-left: auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #f9faf8;
  min-height: 100px;
  font-size: 18px;
}
